name: Minimum Supported Rust

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  find-smallest-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: itself
      - uses: actions/checkout@v6
        with:
          repository: NethermindEth/juno
          path: juno
          ref: e5844379aafe377ffebfb9ec086d306d22930da1
      - name: Find smallest supported Rust version
        id: current
        uses: ./itself
        with:
          paths: juno/core/rust/,juno/vm/rust/,juno/starknet/compiler/rust/
          min: "1.78.0" # Cargo.lock v4 requires Rust 1.78+
          locked: "true" # Enforce using Cargo.lock to prevent dependency drift

      - name: Compare versions
        run: |
          set -euo pipefail

          expected_msrv="1.87.0"
          current_msrv="${{ steps.current.outputs.highest-msrv }}"
          if [[ "$expected_msrv" != "$current_msrv" ]]; then
            echo "Minimum supported Rust version is $current_msrv, expected $expected_msrv"
            exit 1
          else
            echo "Minimum supported Rust version is $current_msrv as expected"
          fi
